*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    background-color: rgb(32,31,49);
    color: #fff;
}

#nav{
    /* border: 2px solid; */
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 77.5%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#nav ol{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
    height: 60px;
}

#nav li{
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1.5px;
    /* padding-bottom: 5px; */
    font-family: "Poppins", Arial;
}

#nav li:hover{
    color: #e9aac7;
    cursor: pointer;
}